@import "tailwindcss";

/* Tailwind v4 üçün class əsaslı dark mode təyinatı */
@custom-variant dark (&:is(.dark, .dark *));

:root {
  --background: #F2F2F2;
  --foreground: #1A1A1A;
}

.dark {
  --background: #141414;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Rənglər dəyişərkən daha yumşaq (smooth) keçid olması üçün transition */
  transition: background-color 0.3s ease, color 0.3s ease; 
}